.cancelUploadBtn {
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #BDBDBD;
    border-radius: 6px;
    color: #BDBDBD;
    cursor: pointer;

    &:hover {
        border-color: #E20101;
        background-color: #FCECEB;
        color: #E20101;
    }
}

.openDocumentSlideBtn {
    transition: all 0.5s;
    position: relative;
    top: -20px;
    left: -70px;
    height: calc(100% + 40px);
    background-color: #EBF2FF;
    color: #355CBC;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-right: 1px solid #eeeeee;

    &:hover {
        background-color: #FFFAEB;
        color: #B18910;
    }
}