@use "../../style/theme";

.breadcontainer ol {
  padding-left: 0px !important;
  margin-bottom: 0px;
}

.row {
  width: 100%;
}

.infobutton {
  float: right;
  margin-left: 5px;
  cursor: pointer;
  color: theme.$primary;
}

.meta-field-name {
  width: 150px;
}

.modal-title {
  height: auto !important;
}

.filter-container {
  display: flex;
  flex-wrap: nowrap;
}

.zoom-slider-container {
  margin-top: 6px;
  margin-right: 6px;
}

.rightpanel {
  position: relative;
  top: 4px;
  display: flex;
  flex-direction: row; 
}

.ideaSpaceInfoIcon {
  color: theme.$primary;
}

.mobileView {
  padding-left: 30px !important;
  padding-right: 10px !important;
}

.closeModalBtn {
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #BDBDBD;
  border-radius: 6px;
  color: #BDBDBD;
  cursor: pointer;

  &:hover {
      border-color: #E20101;
      background-color: #FCECEB;
      color: #E20101;
  }
}

.editMetadataBtn {
  color: #424242;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 5px;

  &:hover {
    color: theme.$primary;
  }
}