//@use "sass:color";
//@use "../../style/theme";

.newButton {
  padding: 5px 7px;
  background: #EFC957;
  color: #575757;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 0.25s;
  margin-top: 2px;
  margin-bottom: 2px;
  &:hover {
    background: #EED486;
  }
}

.channelContainer {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  position: relative;
}

.dividingLine {
  position: absolute;
  right: 0px;
  width: 1px;
  background: #DADCE1;
  height: 100%;
}

.tilePointerBackground {
  position: absolute;
  right: -28px;
  top: calc(50% - 8px);
  width: 0px;
  height: 0px;
  border: 8px solid transparent;
  border-right-color: rgb(220,220,220);
  transition: right 0.25s;
}

.tilePointer {
  position: absolute;
  right: -29px;
  top: calc(50% - 8px);
  width: 0px;
  height: 0px;
  border: 8px solid transparent;
  border-right-color: #F5F5F5;
  transition: right 0.25s;
}

.tilePointerSelectedBackground {
  right: -12px;
}
.tilePointerSelected {
  right: -13px;
}

.tile {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid #DCDCDC;
  background: white;
  padding: 5px 10px 10px 10px;
  margin-bottom: 6px;
  position: relative;
  transition: all 0.25s;
  left: 0px;
  &:hover {
    background: #EFF5FF;

    .moreTileOptions {
      opacity: 1.0;
    }
  }
}

.selectedTile {
  left: 10px;
  background: #4568AC !important;

  .name {
    color: white;
  }

  .privateGroupName {
    color: white !important;
  }

  .memberText {
    color: #EBF2FF;
  }

  .moreTileOptions {
    color: white;
    opacity: 1.0;
  }

  .dotSeperator {
    background: white;
  }

  .privateGroupLock {
    color: white;
  }

}

.dotSeperator {
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background: #838383;
  margin-left: 10px;
  margin-right: 10px;
}

.name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
  flex: 1;
  display: flex;
  align-items: center;
}

.moreGroupsOption {
  padding: 2px 5px;
  &:hover {
    color: #4568AC;
  }
}

.privateGroupName {
  color: #4568AC !important;
}

.privateGroupLock {
  color: #4568AC;
  height: 14px;
}

.moreTileOptions {
  opacity: 0.0;
  transition: opacity 0.5s;
  color: #838383;
  position: relative;
  top: -2px;
  left: 5px;
}

.memberText {
  display: flex;
  flex: 1;
  color: #838383;
  font-size: 12px;
  align-items: center;
}

.headerContainer {
  flex-direction: row;
  display: flex;
  margin-bottom: 15px;
  padding-right: 20px;
}

.headerText {
  color: '#424242';
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

.headerLink {
  &:hover{
    color: #22417D;
    text-decoration: underline;
  }
}

.tileContainer {
  flex: 1;
  flex-direction: column;
  padding-right: 20px;
  overflow-y: overlay;
  overflow-x: hidden !important;
}

.annotatedText {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.annotation {
  padding-left: 5px;
  color: #838383;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 5px;

  > p {
    margin-bottom: 0px;
  }
}