@use "sass:color";
@use "../../style/theme";


.refreshButton {
  cursor: pointer;
  color: #575757;
  display: flex;
  margin: auto 5px auto auto;
  font-size: 14px;
  &:hover {
    color: theme.$primary;
  }
}

.sortChannelsIcon {
  cursor: pointer;
  color: #575757;
  margin: 0px 9px 0px -2px;
  font-size: 14px;
  &:hover {
    color: theme.$primary;
  }
}

.loadMoreItems {
  text-align: center;
  cursor: pointer;
  margin: 20px auto;
  font-size: 14px;
  > span {
    &:hover {
      background-color: #19436F;
    }
    transition: all 0.5s;
    background-color: theme.$primary;
    padding: 8px 10px;
    color: white;
    border-radius: 2px;
  }
}

.channelContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  transition: all 0.5s
}

.dividingLine {
  position: absolute;
  right: 0px;
  width: 1px;
  background: #DADCE1;
  height: calc(100% - 10px);
}

.tilePointerBackground {
  position: absolute;
  right: -28px;
  top: calc(50% - 8px);
  width: 0px;
  height: 0px;
  border: 8px solid transparent;
  border-right-color: rgb(220,220,220);
  transition: right 0.25s;
}

.tilePointer {
  position: absolute;
  right: -29px;
  top: calc(50% - 8px);
  width: 0px;
  height: 0px;
  border: 8px solid transparent;
  border-right-color: #F5F5F5;
  transition: right 0.25s;
}

.tilePointerSelectedBackground {
  right: -12px;
}
.tilePointerSelected {
  right: -13px;
}

.tile {
  font-family: Arial;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid #DCDCDC;
  background: white;
  padding: 5px 10px 10px 10px;
  margin-bottom: 6px;
  position: relative;
  transition: all 0.25s;
  left: 0px;
  &.documentTile {
    padding: 0px !important;
    .documentOpenButtonContainer {
      transition: all 0.4s;
      overflow: hidden;
      width: 0px;
      border-radius: 5px 0px 0px 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #EBF2FF;
      color: theme.$primary;
    }
    .documentContentContainer {
      padding: 5px 10px 10px 10px !important;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

.deleteBtn {
  visibility: hidden;
  position: absolute;
  right: 5px;
}

.openInAnnotationStudioBtn {
  visibility: hidden;
  position: absolute;
  top: 3px;
  font-size: 10px;
  font-weight: bold;
  transition: all 0.5s;
  background: #FFFAEB;
  color: #B18910;
  border-radius: 5px;
  padding: 2px 3px;
}

.tileHovered {
  background: #EFF5FF !important;

  .deleteBtn {
    color: #424242;
    visibility: visible;
  }

  .openInAnnotationStudioBtn {
    visibility: visible;
  }

  &.tileOpenInASHovered {
    background: #FFFAEB !important;

    .openInAnnotationStudioBtn {
      background: #EFC957;
      color: #575757;
    }
  }

  &.tileDeleteHovered {
    background: #FFEBEB !important;

    .deleteBtn {
      color: #AC4545;
    }
  }

  .moreTileOptions {
    opacity: 1.0;
  }

  .documentOpenButtonContainer {
    width: 50px !important;
  }
}

.tileFocused {
  border: 1px solid theme.$primary !important
}

.tileDragEnter {
  border: 1px dashed #B18910 !important;
  background: #FFFAEB !important;
}

.tileOpenForAnnotations {
  border: 1px dashed #015999 !important;
}

.annotationsRecieved {
  border-color: #45AC87 !important;
  background: #DEFFF3;
}

.selectedTile {
  left: 10px;
  background: theme.$primary !important;

  .name {
    color: white;
  }

  .privateGroupName {
    color: white !important;
  }

  .memberText {
    color: #EBF2FF;
  }

  .moreTileOptions {
    color: white;
    opacity: 1.0;
  }

  .dotSeperator {
    background: white;
  }

  .privateGroupLock {
    color: white;
  }

  .documentOpenButtonContainer {
    width: 50px !important;
  }

}

.dotSeperator {
  width: 3px;
  height: 3px;
  border-radius: 1.5px;
  background: #838383;
  margin-left: 10px;
  margin-right: 10px;
}

.name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
  flex: 1;
  display: flex;
  align-items: center;
}

.moreGroupsOption {
  padding: 2px 5px;
  &:hover {
    color: theme.$primary;
  }
}

.privateGroupName {
  color: theme.$primary !important;
}

.privateGroupLock {
  color: theme.$primary;
  height: 14px;
}

.moreTileOptions {
  opacity: 0.0;
  transition: opacity 0.5s;
  color: #838383;
  position: relative;
  top: -2px;
  left: 5px;
}

.memberText {
  display: flex;
  flex: 1;
  color: #838383;
  font-size: 12px;
  align-items: center;
}

.headerContainer {
  flex-direction: row;
  align-items: center;
  display: flex;
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
  padding-right: 20px;
  transition: all 0.5s;
}

.selectedTab {
  background: linear-gradient(to bottom, #f5f5f5, #FFEAAB);
}

.filtersContainer {
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 3px 1px 2px;
  border-bottom: 1px solid rgb(218, 220, 225);
}

.headerText {
  color: #424242;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
  &:hover {
    color: #22417D !important;
  }
}

.headerLink {
  &:hover{
    color: #22417D;
    text-decoration: underline;
  }
}

.tileContainer {
  flex: 1;
  flex-direction: column;
  padding-right: 20px;
  padding-top: 15px;
  overflow-y: overlay;
  overflow-x: hidden !important;
}

.annotatedText {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.untitledText {
  color: #757575;
}

.annotation {
  padding-left: 5px;
  color: #838383;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 5px;

  > p {
    margin-bottom: 0px;
  }
  
  img {
    width: 100%;
  }
}

.tabSelectionLine {
  transition: all 0.25s;
  background: #EFC957;
  height: 2px;
  position: absolute;
  bottom: 0px;
}

.titleInput {
  border: none;
  border-bottom: 1px solid #ABABAB;
  background: transparent;
  outline: none;
  flex: 1;

  &:focus {
    border-bottom-color: theme.$primary
  }
}

.ideaSpaceHeader {
  display: flex;
  align-items: center;

  > span {
    margin-right: 3px;
  }
}

.descendingAscendingButton {
  transition: all 0.25s;
  padding: 2px 7px;
  background: #EEEEEE;
  color: #424242;
  border-color: #ABABAB;
  box-shadow: none !important;
  outline: none !important;
  
  &:hover {
    border-color: theme.$primary !important;
    color: theme.$primary !important;
    background: #EBF2FF !important;
  }

  &:focus {
    background: #EEEEEE;
    color: #424242;
    border-color: #ABABAB;
  }
}

.sortByDropdown > button {
  transition: all 0.25s;
  padding: 2px 9px !important;
  background: #EEEEEE;
  color: #424242;
  border-color: #ABABAB;
  margin-right: 3px;
  box-shadow: none !important;
  outline: none !important;

  &:hover {
    border-color: theme.$primary;
    color: theme.$primary;
    background: #EBF2FF;
  }

  &:focus {
    background: #EEEEEE;
    color: #424242;
    border-color: #ABABAB;
  }
  
}

.sortByDropdownSelected > button, .sortByDropdownSelected > button:focus {
  border-color: theme.$primary !important;
  color: theme.$primary !important;
  background: #EBF2FF !important;
}

.dropdownCheck {
  color: theme.$primary;
}

.ideaspacesSortByDropdownItem {
  display: flex;
  justify-content: center;
  align-items: center;
}