.tileBadge {
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

.green {
  background: #DEFFF3;
  color: #45AC87;
}

.grey {
  background: #EEEEEE;
  color: #ABABAB;
}

.blue {
  color: #4568AC;
  background: #EBF2FF;
}

.yellow {
  background: #EFC957;
  color: #575757;
}
