@use "sass:color";
@use "../../style/theme";

.tileBadge {
  outline: none;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  transition: all 0.25s;
  margin: auto;
}

.tileBadgeText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.draggableTileBadge {
  cursor: pointer !important;
}

.cancelIcon {
  margin-left: 4px;
  cursor: pointer;
  position: relative;
  top: -1px;
}

.tileBadgeFoucsed {
  &.green {
    border: 1px solid #45AC87;
  }

  &.grey {
    border: 1px solid #ABABAB;
  }

  &.blue {
    border: 1px solid theme.$primary;
  }

  &.yellow {
    border: 1px solid #575757;
  }
}

.green {
  background: #DEFFF3;
  color: #45AC87;
}

.grey {
  background: #EEEEEE;
  color: #ABABAB;
}

.blue {
  color: theme.$primary;
  background: #EBF2FF;
}

.dark-blue {
  color: white;
  background: theme.$primary;
  &:hover {
    background: #19436F;
  }
}

.yellow {
  background: #EFC957;
  color: #575757;
}

.red {
  background: #FFEBEB;
  color: #AC4545;
}
