.featureHeader {
    font-weight: bold;
    font-size: 15px;
    padding-left: 5px;
    color: #19436F;
    margin-bottom: 2px;
  }
  
  .featureText {
    color: #616161;
    font-size: 14px;
    padding-left: 20px;
  }