@use "sass:color";
@use "../../../style/theme";

.slate-container {
  width: 750px;
}

.slate-container-card {
  display: flex;
  justify-content: center;
}

.slate-editor {
  padding: 3.5rem 54.5px;
  resize: vertical;
  min-height: 300px;
  height: 350px;
  overflow-y: scroll;
  border: 1px solid theme.$gray-400;
  border-top: none;
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:focus {
    border-color: theme.$primary;
    outline: 0;
    box-shadow: 0 0 0 0.2rem color.adjust(theme.$primary, $alpha: -0.75);
  }
  img {
    display: block;
    max-width: 100%;
    padding: 10px 0px;
    max-height: none;
  }
}

.slate-loader {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 750px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.75);
}