.rolePermissionsText {
    color: #143380;
    font-weight: 200;
    cursor: pointer;
    margin-bottom: 20px;
    padding-left: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:hover {
        color: #355CBC;   
    }
}
