@use "../../style/theme";

.sourceTextContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
        .sourceTextHeader, .sourceTextChevron {
            color: theme.$primary;
        }
    }
}

.sourceTextChevron {
    color: #757575;
    margin-left: 5px;
    transition: transform 0.25s;
    cursor: pointer;
}

.sourceTextHeader {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        color: theme.$primary;
    }
}

.analysisModeContainer {
    color: #616161;
    cursor: pointer;

    &:hover {
        color: theme.$primary;
    }
}

.rowItem {
    display: flex;
    flex-direction: row;
    padding: 5px 5px 5px 5px;
    cursor: pointer;

    .actionButton {
        display: none;
    }

    
    .checkIcon {
        display: none;
    }

    &.selected {
        .checkIcon {
            display: inline;
            margin-right: 8px;
        }

        &:hover {
            .checkIcon {
                display: none;
            }
        }
    }

    &:hover {
        background-color: #f5f5f5;

        .actionButton {
            display: inline;
        }
    }
}

.documentCardTitle {
    font-size: 14px;
    font-weight: bold;
    color: #212121;
    text-align: center;
    margin-bottom: 5px;
    padding: 0px 3px;
}