/* custom colors */
$theme-colors: (
  "ans-color": #FCCE02,
  "dark": #000000
);

.footer .logo { 
  height: 30px; 
  max-height: 30px; 
  min-height: 30px; 
}

/* import bootstrap */
@import "~bootstrap/scss/bootstrap";