@use "../../style/theme";

.slate-toolbar {
  svg {
    width: 1.15rem;
    height: 1.15rem;
    &.type-caret {
      margin-left: 3px;
      width: 0.5rem;
      height: 0.5rem;
    }
  }
  display: flex;
  justify-content: center;
  padding: 0.5rem 10px 0.5rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid theme.$gray-400;
  & > * {
    display: inline-block;
  }
}

.toolbar-button {
  width: 2.3rem;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  height: 2rem;
}

.button-group-end {
  margin-right: 1rem;
}

.export-button {
  margin-left: 15px;

  .export-button-dropdown button {
    font-size: 13px;
  }
}